
# pigar doesn't work :/
django == 3.1.13
datetime == 4.3
pyyaml == 5.4.1
psycopg2 == 2.9.3
channels == 2.4.0
channels_redis == 2.4.2
# TODO add versions
django-debug-toolbar
environs
gunicorn