# pigar doesn't work :/
django == 3.2.16
datetime == 4.3
pyyaml == 5.4.1
psycopg2 == 2.9.3
channels == 3.0.5
channels_redis == 4.0.0
django-debug-toolbar == 3.2.4
environs == 9.5.0
gunicorn == 20.1.0
djangorestframework-jwt == 1.11.0
djangorestframework == 3.13.1
uvicorn[standard] == 0.18.3
