<h3>Welcome to WhereAmI.</h3>
<div class="card border-dark">
  <div class="card-body">
    <h5 class="card-title">Challenges.</h5>
    <h6 class="card-subtitle text-muted">Please click on the challenge you would like to start.</h6>
    <table class="table table-striped table-bordered" id="challenges" datatable
           [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
      <tr>
        <th scope="col">Created on</th>
        <th scope="col">Game name</th>
        <th scope="col"># of Locations</th>
        <th scope="col">Time</th>
        <th scope="col">#</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let challenge of challenges">
        <td>{{ challenge.pub_date }}</td>
        <td>{{ challenge.game.name }}</td>
        <td>{{ challenge.location_count }}</td>
        <td>{{ challenge.time }}</td>
        <td>{{ challenge.id }}</td>
        <td><a routerLink="/startChallenge"  [queryParams]="{id: challenge.id}" routerLinkActive="active" class="btn btn-primary">Start</a>
          <button class="btn btn-secondary ms-2" (click)="challengeScores.showStats(challenge.id)">Stats</button>
          <a routerLink="/challengeOverview"  [queryParams]="{id: challenge.id}" routerLinkActive="active"
             class="btn btn-success ms-2">Overview</a>
          <button class="btn btn-warning ms-2" >
            Invite link
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <challenge-form (challengeCreated)="updateChallenges()"></challenge-form>
  </div>
  <div class="col-8">
    <challenge-scores #challengeScores></challenge-scores>
  </div>
</div>
