<div>
  <game-pano>
  </game-pano>
  <div id="container" *ngIf="(humanReadableRound$ | async) != null">
    <!-- we use hidden instead of ngIf, because recreating the maps component would incur additional maps cost -->
    <app-round-end [hidden]="!(roundEnded$ | async)"></app-round-end>
    <app-score-board></app-score-board>
    <status-table></status-table>
    <mini-map></mini-map>
    <div id='guessButton' class="btn btn-large" [ngClass]="(time$ | async) == 0 ? 'btn-outline-danger' : 'btn-danger'" (click)="endRound()" >Guess</div>
    <div id='toStartButton' class="btn btn-large bg-warning" (click)="toStart()">To Start</div>
  </div>
  <app-played-before *ngIf="(humanReadableRound$ | async) == null"></app-played-before>
</div>


