<table class="table table-striped" id="score-board" datatable #scoreTable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
        <tr>
            <th scope="col">Score</th>
            <th scope="col">Distance</th>
            <th scope="col">Name</th>
            <th scope="col">Last interaction</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let score of scores">
        <td>{{score.score}}</td>
        <td>{{score.distance}}</td>
        <td>{{score.name}}</td>
        <td [appDateElement]="score.last_interaction"></td>
    </tr>
    </tbody>
</table>
