#container {
  position: absolute;
  top: 10%;
  left: 50%;
  /* This is here for documentation; it is set by the animation */
  transform: translate(-50%, 0%);
  padding: 2vh;
  background: grey;
  text-align: center;
  z-index: 1005;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
}

#resultsButton {
  font-size: 2.5vh;
  font-weight: bold;
  color: white;
  width: 13vh;
  cursor: pointer;
  text-align: center;
  position: absolute;
  top: 70vh;
  right: 1vw;
  z-index: 1000;
}