<div id="container" [@divState]="show ? 'shown' : 'hidden'">
  <button (click)="show = false" class="btn btn-dark btn-sm" style="float: right;">-</button>
  <p>
    Your guess was <strong>{{distance$ | async}}km</strong> away from the actual location.
  </p>
  <div style="display: flex;" (click)="newGif$.next()">
    <round-map classAppend="height: 50vh !important; width: 40vw !important;"></round-map>
    <div style="display: flex; flex-direction: column; align-items: center;height: 50vh; width: 40vw;" *ngIf="(taggedVideo$ | async) as taggedVideo">
      <h2 style="text-align: center;">{{taggedVideo.tag}}</h2>
      <div style="flex-grow: 1;">
        <video style="width: 100%; height: 100%; object-fit: contain;"  loop autoplay playsinline muted [src]="taggedVideo.src">
        </video>
      </div>
    </div>
  </div>
  <p>
    You have scored <strong>{{score$ | async}}</strong> points this round!
  </p>
  <div class="btn-group" role="group">
    <button class="btn btn-primary" *ngIf="!(finished$ | async)" (click)="nextRound()">Continue</button>
    <a class="btn btn-success" *ngIf="finished$ | async" routerLink="/challengeOverview"
      [queryParams]="{id: id$ | async }" routerLinkActive="active">Overview</a>
    <input #checkbox type="checkbox" class="btn-check" id="autostart" autocomplete="off" [checked]="autostart$ | async"
    (click)="setAutoStart(checkbox.checked)">
    <label class="btn btn-outline-primary" for="autostart">Autostart</label>
    <button class="btn btn-secondary" (click)="refreshMap()">Refresh Map</button>
  </div>
</div>
<!-- TODO create a setting to NOT make the solution appear automatically -->
<div *ngIf="!show" id='resultsButton' class="btn btn-large bg-success" (click)="show = true">Solution</div>