<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Whereami - create game</title>
  <meta property="og:title" content="Whereami - create game"/>
  <meta property="og:type" content="game"/>
  <meta property="og:url" content="https://github.com/martilidad/whereami_server"/>
  <meta property="og:description" content="Tool to create a game from google maps map.">
  <link rel='stylesheet' href='/static/css/bootstrap.css' />
  <link rel='stylesheet' href='/static/css/style.css' />
</head>
<body>
<form action="/game" method="post">{% csrf_token %}
    <h4>Create a new Game: </h4>
    <label for="quantity">Numer of Locations.(please check streetview availability)</label>
    <input type="number" id="quantity" name="quantity" min="1">
    <label for="name">Game Name(e.g. Spain)</label>
    <input type="text" id="name" name="name">
    <button type="submit" value="Button" class="btn btn-primary">Create</button>
</form>
    <div id="createGameMap"></div>
  <script type='text/javascript' src='/static/js/js.cookie.min.js'></script>
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
  <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCZOXlIZdfYBcn_W8UrY-JYrE3eueQq4_k&sensor=false&libraries=geometry'></script>
  <script type='text/javascript' src='/static/js/creategamemap.js'></script>
</body>
</html>
