<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Whereami - create game</title>
    <link rel='stylesheet' href='/static/css/bootstrap.css'/>
    <link rel='stylesheet' href='/static/css/style.css'/>
</head>
<body>
<div class="card col-3">
    <div class="card-body">
        <form onsubmit="submit()">
            <h4 class="card-body">Create a new game: </h4>
            <div class="form-group">
                <label for="quantity">Numer of locations.
                    (please check Streetview availability)</label>
                <input class="form-control" type="number" id="quantity" name="quantity" min="1" value="50">
            </div>
            <div class="form-group">
                <label for="minDist">Minimum distance between locations in km.</label>
                <input class="form-control" type="number" id="minDist" name="minDist" min="1" value="10"></div>
            <div class="form-group">
                <label for="name">Game name(e.g. Spain)</label>
                <input class="form-control" type="text" id="name" name="name" required>
            </div>
            <div class="form-check">
                <input class="form-check-input border-primary" type="checkbox" id="forceRoads"
                       name="forceRoads" checked>
                <label for="forceRoads" class="form-check-label">Try to find Roads</label>
            </div>
            <div class="form-check">
                <input class="form-check-input border-primary" type="checkbox" id="allowPhotoSpheres"
                       name="allowPhotoSpheres">
                <label for="allowPhotoSpheres" class="form-check-label">Allow Photospheres(Not Recommended)</label>
            </div>
            <div id="loadingText"></div>
            <button type="button" onclick="createGame()" class="btn btn-primary">Create</button>
            <a href="/" class="btn btn-danger">Cancel</a>
        </form>
    </div>
</div>
<div class="col-9" id="createGameMap"></div>
<script type='text/javascript' src='/static/js/js.cookie.min.js'></script>
<script type='text/javascript' src='/static/js/jquery.min.js'></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type='text/javascript'
        src='https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&libraries=geometry,drawing'></script>
<script>
    const roadsUrl = 'https://roads.googleapis.com/v1/nearestRoads?key={{ google_api_key }}&';
</script>
<script type='text/javascript' src='/static/js/creategamemap.js'></script>
</body>
</html>
