<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whereami</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/dataTables.bootstrap4.min.css">
    <meta property="og:title" content="Whereami"/>
    <meta property="og:type" content="website"/>
    {#    TODO#}
    {#    <meta property="og:url" content=""/>#}
    {#    <meta property="og:image" content=""/>#}
    <meta property="og:description" content="A multiplayer location guessing game based on streetview."/>
    <style>
        .clickable:hover {
            cursor: hand;
            cursor: pointer;
        }
    </style>
</head>
<body>
<h3>Welcome to WhereAmI.</h3>
<div class="card border-dark">
    <div class="card-body">
        <h5 class="card-title">Challenges.</h5>
        <h6 class="card-subtitle text-muted">Please click on the challenge you would like to start.</h6>
        <table class="table table-striped" id="challenges">
            <thead>
            <tr>
                <th scope="col">Created on</th>
                <th scope="col">Game name</th>
                <th scope="col"># of Locations</th>
                <th scope="col">Time</th>
                <th scope="col">#</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for challenge in challenges %}
                <tr>
                    <th scope="row">{{ challenge.pub_date }}</th>
                    <td>{{ challenge.game.name }}</td>
                    <td>{{ challenge.challengelocation__count }}</td>
                    <td>{{ challenge.time }}</td>
                    <td>{{ challenge.id }}</td>
                    <td><a href="/startChallenge?Challenge_ID={{ challenge.id }}" class="btn btn-primary">Start</a>
                        <button class="btn btn-secondary" onclick="loadScores({{ challenge.id }})">Stats</button>
                        <a href="/challengeOverview?Challenge_ID={{ challenge.id }}"
                           class="btn btn-success">Overview</a>
                        <button class="btn btn-warning" onclick="invite(location.origin + '/static/invite.html?Challenge_ID=' + {{ challenge.id }})">Invite link</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="card border-primary">
            <div class="card-body">
                <h5 class="card-title">Create a new challenge: </h5>
                <form action="/challenge" method="post" class="form">{% csrf_token %}
                    <div class="form-group">
                        <label for="game">Select game to use locations from:</label><br/>
                        <select class="selectpicker col-8 pl-0" id="game" name="game" data-live-search="true"
                                data-show-subtext="true"
                                data-style="border-primary form-control">
                            {% for game in games %}
                                <option data-subtext="{{ game.locations__count }} locations"
                                        value="{{ game.id }}">{{ game.name }}</option>
                            {% endfor %}
                        </select>
                        <a href="/game" class="btn btn-primary">Create new game</a>
                    </div>
                    <div class="form-group">
                        <label for="quantity">Numer of locations (between 1 and number of locations in
                            game).</label>
                        <input class="form-control col-2 border-primary" type="number" id="quantity" name="quantity"
                               min="1"
                               value="5">
                    </div>
                    <div class="form-group">
                        <label for="time">Challenge time in seconds.</label>
                        <input class="form-control col-2 border-primary" type="number" id="time" name="time" min="5"
                               value="90">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input border-primary" type="checkbox" id="preventReuse"
                               name="preventReuse"
                               checked>
                        <label for="preventReuse" class="form-check-label">Prevent reuse of locations.</label>
                    </div>
                    <button type="submit" value="Submit" class="btn btn-primary mt-3">Create</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card border-dark col-8">
            <div class="card-body">
                <h5 class="card-title" id="score-board-title">Challenge scores</h5>
                <h6 class="card-subtitle text-muted">Click on the stats button next to a challange to show it's stats
                    here.</h6>
                <table class="table table-striped" id="score-board">
                    <thead>
                    <tr>
                        <th scope="col">Score</th>
                        <th scope="col">Distance</th>
                        <th scope="col">Name</th>
                        <th scope="col">Completed Locations</th>
                        <th scope="col">Last interaction</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
<script type='text/javascript' src='/static/js/jquery.min.js'></script>
<script type="text/javascript" src="/static/js/popper.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<script>$(function () {
    $('.selectpicker').selectpicker();
    $('#challenges').DataTable({order: [[0, "desc"]]});
    $('#score-board').DataTable({
        order: [[0, "desc"]],
        columns: [{data: 'score'}, {data: 'distance'}, {data: 'name'}, {data: 'completed_locations'}, {data: 'last_interaction'}]
    });
});

function loadScores(id) {
    $.ajax({
        url: "/scores",
        data: {
            "Challenge_ID": id
        },
        success: function (result) {
            var dataTable = $('#score-board').DataTable();
            dataTable.clear();
            dataTable.rows.add(result);
            dataTable.draw();
        },
        error: function (result) {
            console.log(result);
        }
    });
}

function invite(link) {
    let temp_raw = $("<input>");
    $("body").append(temp_raw);
    temp_raw.val(link);
    temp_raw.select();
    console.log(document.execCommand("copy"));
    temp_raw.remove();
    location = link;
}
</script>
</html>