<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whereami - Challenge invite</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <meta property="og:title" content="Whereami - Challenge invite"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="/static/img/whereami.png"/>
    <meta property="og:description" content="You have been invited to a challenge."/>
    {% if not is_authenticated %}
    <meta http-equiv="expires" content="-1" />
    <meta http-equiv="refresh" content="1; url=/accounts/login/?next={{ full_path }}" />
    {% endif %}

</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card border-dark text-center">
                <div class="card-body">
                    <h5 class="card-title">Challenge invite</h5>
                    <h6 class="card-subtitle text-muted">Click on start once you (and your friends) are ready.</h6>
                    <p></p>
                    <div class="container">
                        <div class="row justify-content-center" id="inviteStatusDiv">
                        </div>
                        <div class="row justify-content-center" id="userStatusDiv">
                        </div>
                        <p></p>
                        <div class="row justify-content-center">
                            <div class="col-3">
                                <a class="btn btn-danger" href="/">Main Menu</a>
                            </div>
                            <div class="col-2">
                                <a class="btn btn-primary" id="start">Start</a>
                            </div>
                            <div class="col-3">
                                <div class="form-check">
                                    <input type="checkbox" id="autoStart" class="form-check-input">
                                    <label for="autostart" class="form-check-label">autostart</label>
                                </div>
                            </div>
                            <div class="col-3">
                                <a class="btn btn-warning" id="invite" onclick="invite()">Copy invite link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="previewMap" style="height: 60%; width: 60%; margin: auto;"></div>
</body>
<script>
    var boundary_array = {{ boundary_array }};
</script>
<script type='text/javascript' src='/static/js/jquery.min.js'></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type='text/javascript'
        src='https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&libraries=geometry,drawing'></script>
<script type="text/javascript" src="/static/js/invite.js"></script>
</html>