<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whereami - Challenge invite</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css?{{ version }}">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?{{ version }}">
    <meta property="og:title" content="Whereami - Challenge invite"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="/static/img/whereami.png"/>
    <meta property="og:description"
          content="You have been challenged to find {{ challenge.challengelocation_set.count }} Streetview locations in {{ challenge.game.name }} within {{ challenge.time }} seconds each."/>
    <meta http-equiv="expires" content="-1"/>
    <meta http-equiv="refresh" content="1; url={{ full_path }}"/>

</head>
<body>
    Redirecting you briefly. <a href="{{ full_path }}">Click here if nothing happens.</a>
</body>
</html>