<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Whereami</title>
    <link rel='stylesheet' href='/static/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/static/css/style.css'/>
</head>
<body>
<div id='content'>
    <div id="roundEnd"></div>
    <div id="endGame"></div>
    <div id='scoreBoard'>
        <span class='round'>Current Round: <b>1/5</b></span><br/>
        <span class='roundScore'>Last Round Score: <b>0</b></span><br/>
        <span class='totalScore'>Total Score: <b>0</b></span>
    </div>
    <table id="statusTable"></table>
    <div id='miniMap'></div>
    <div id='timer'></div>
    <div id='guessButton' class="btn btn-large btn-danger">Make Your Guess</div>
    <div id='toStartButton' class="btn btn-large bg-warning" onclick="svinitialize()">To Start</div>
    <div id='pano'></div>
</div>
<script type='text/javascript' src='/static/js/js.cookie.min.js?{{ version }}'></script>
<script type='text/javascript' src='/static/js/jquery.min.js?{{ version }}'></script>
<script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&libraries=geometry'></script>
<script type='text/javascript' src='/static/js/rnd.js?{{ version }}'></script>
<script type='text/javascript' src='/static/js/minimap.js?{{ version }}'></script>
<script type='text/javascript' src='/static/js/streetviewmap.js?{{ version }}'></script>
<script type='text/javascript' src='/static/js/roundmap.js?{{ version }}'></script>
<script type='text/javascript' src='/static/js/app.js?{{ version }}'></script>
</body>
</html>
