#roundEnd {
  position: absolute;
  left: 50%;
  width: 600px;
  margin: 40px 0 0 -300px;
  padding: 20px;
  background: grey;
  text-align: center;
  z-index: 1005;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
}
